In [15]:
print("Hola, 'Mundo'!!!!!")
print('Esto "también" es una cadena de texto')
print("Python", "es", "genial")
print("Pyton", "es","brutal",sep="-")
print("Esto se impreme en", end=" ")
print("la misma línea")

Hola, 'Mundo'!!!!!
Esto "también" es una cadena de texto
Python es genial
Pyton-es-brutal
Esto se impreme en la misma línea

In [20]:
# Tipos de datos
type(10)
print("float: ")
print(type(3.14))
print(type(1.0))
print(type(1e3))

float:
<class 'float'>
<class 'float'>
<class 'float'>

In [21]:
print("complex")
print(type(3 + 4j))

complex
<class 'complex'>

In [4]:
my_name = "albino"
my_name
age = 32
age
age = age + 1
age
name = "miducev"
print(type(name))
name = 32
print(type(name))

<class 'str'>
<class 'int'>

In [5]:
my_name = "Alibaba"
age = 33
print(f"Mi nombre es {my_name} y tengo {age} años")

Mi nombre es Alibaba y tengo 33 años

In [6]:
is_user_logged_in: bool = True
print(is_user_logged_in)

is_user_logged_in = 32
print(is_user_logged_in)

True
32

In [ ]:
edad = 32
if edad >= 18:
    print("Eres mayor de edad")

In [13]:
numbers = [3, 10, 2, 8, 99, 101]
numbers.sort()
print(numbers)

numbers = [3, 10, 2, 8, 99, 101]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

frutas = ("manzana", "banana", "cereza", "limón", "naranja","pera")
print(frutas)
frutas_ordenadas = sorted(frutas)
print(frutas_ordenadas)
frutas = ("Manzana", "banana", "cereza", "limón", "naranja","Pera")
print(frutas)
frutas_ordenadas = sorted(frutas, key=str.lower)
print(frutas_ordenadas)

[3, 10, 2, 8, 99, 101]
[2, 3, 8, 10, 99, 101]
('manzana', 'banana', 'cereza', 'limón', 'naranja', 'pera')
['banana', 'cereza', 'limón', 'manzana', 'naranja', 'pera']
('Manzana', 'banana', 'cereza', 'limón', 'naranja', 'Pera')
['banana', 'cereza', 'limón', 'Manzana', 'naranja', 'Pera']

In [20]:
animals = ['🐣', '🐶', '🐱', '🦊', '🐻', '🐼' , '🐨', '🐶']
print(animals.count('🐶'))
print('🐼' in animals)

2
True

In [21]:
animals = ['🐣', '🐶', '🐱', '🦊', '🐻', '🐼' , '🐨', '🐶']
print(animals.count('🐶'))
print('🐼' in animals)

2
True